html,
body,
#__next {
  @apply h-full w-full;
}

header,
footer {
  @apply flex-none;
  @apply h-10;
}

main {
  @apply flex-1;
}

header,
main,
footer {
  @apply w-full;
}

.layout,
main,
.content-container {
  @apply text-black;
}

main,
.content-container {
  @apply border-current border-3 p-3;
}

.layout {
  @apply bg-center;
  background-image: url("/img/tapete-bw.jpeg");
}

main {
  @apply bg-cover;
}

.content-container {
  background: var(--color-beta);
  /* background-image: linear-gradient(0deg, var(--color-alpha) 0%, var(--color-beta) 100%); */
}

/* .content-container::before {
  content: "";
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-image: url("/img/vogeltapete_jpg_72dpi_klein_korrigiert.jpeg");
} */

button {
  @apply outline-none bg-beta !important;
}

.logo {
  @apply text-black text-3xl uppercase;
}

.nav li {
  @apply mr-4 float-left;
}

.links li {
  @apply ml-4 float-left;
}

.mobile-nav,
.mobile-links {
  @apply text-center;
}

.mobile-nav li,
.mobile-links li {
  @apply py-1;
}
