:root {
  --color-black: #313131;
  --color-black-transparent: #313131d7;
  --color-alpha: #4a838b;
  --color-beta: #87c4bf;

  --scrollbar-background-color: var(--color-beta);
  --scrollbar-thumb-color: var(--color-gamma);
}
