@font-face {
  font-family: "Erika";
  src: url("/fonts/ERIKALatin1-Regular.otf") format("truetype");
}

@font-face {
  font-family: "Roboto Slab";
  src: url("/fonts/RobotoSlab-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("/fonts/RobotoSlab-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("/fonts/RobotoSlab-Light.ttf") format("truetype");
  font-weight: 300;
}

html {
  font-family: "Erika" !important;
}

main {
  /* font-family: "Roboto Slab", serif; */
}
