@font-face {
  font-family: "Erika";
  src: url("/fonts/ERIKALatin1-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Erika";
  src: url("/fonts/G2Erika.ttf") format("truetype");
  font-style: italic;
}

html {
  font-family: "Erika" !important;
}

main {
  /* font-family: "Roboto Slab", serif; */
}
